# Craft ENV settings
CRAFT_APP_ID=CraftCMS--[project-name]-[env]
CRAFT_SECURITY_KEY=

# Craft settings
CRAFT_ALLOW_UPDATES=true
CRAFT_ALLOW_ADMIN_CHANGES=true
CRAFT_BACKUP_ON_UPDATE=true
CRAFT_CP_TRIGGER=admin
CRAFT_DEV_MODE=true
CRAFT_ENABLE_TEMPLATE_CACHING=false
CRAFT_ENVIRONMENT=[env]
CRAFT_HARD_MODE=0
CRAFT_REMEMBER_USERNAME_DURATION=P1Y
CRAFT_REMEMBERED_USER_SESSION_DURATION=P1Y
CRAFT_RUN_QUEUE_AUTOMATICALLY=true
CRAFT_TEST_TO_EMAIL_ADDRESS=
CRAFT_USER_SESSION_DURATION=P1Y

# Site settings
PRIMARY_SITE_URL=""
SITE_NAME=""

# Database
CRAFT_DB_DSN=mysql:host=;port=3306;dbname=
CRAFT_DB_DRIVER="mysql"
CRAFT_DB_SERVER=""
CRAFT_DB_PORT="3306"
CRAFT_DB_DATABASE=""
CRAFT_DB_USER=""
CRAFT_DB_PASSWORD=""
CRAFT_DB_SCHEMA=public
CRAFT_DB_TABLE_PREFIX=

# Mailpit
MAILPIT_SMTP_HOSTNAME="127.0.0.1"
MAILPIT_SMTP_PORT="1025"

# VITE - Frontend build process only
VITE_ENV=${CRAFT_ENVIRONMENT}
