{% extends "_layouts/site" %}

{% do seomatic.meta.setAttributes({
    "seoTitle": "404 - Page not found"|t
}) %}

{% block content %}

    {% cache %}
        <main class="container text--center">
            <h1>404</h1>

            <div class="content md:max-w-3/4 md:mx-auto">
                <p>This page doesn't exist.<br>Take me to the <a href="{{ siteUrl }}" title="Take me to the home page">home page</a>.</p>
            </div>
        </main>
    {% endcache %}

{% endblock %}
