@import "tailwindcss/base";
@import "custom/custom-base.pcss";

@import "tailwindcss/components";
@import "custom/custom-components.pcss";

@import "tailwindcss/utilities";
@import "custom/custom-utilities.pcss";
